:root {
  --font-style: ;
}

html[data-theme="light"] {
  --color-background: #fafafa;
  --color-bg-highlight: #ffffff;

  --color-text: #111517;
  --color-placeholder: #848484;
}

html[data-theme="dark"] {
  --color-background: #202c36;
  --color-bg-highlight: #2b3844;

  --color-text: #ffffff;
  --color-placeholder: #ffffff;
}
